<div class="container">

  <div class="jumbotron">
    <center>
        <h1><%=@user.username%>'s Dashboard</h1>
        <!-- <form action='/create' method='post'>
            <div class="form-group">
              <label for="original_url">Input your URL</label>
              <input name="uri[original_url]"type="text" class="form-control" placeholder="e.g http://google.com">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->

        <%= form_for @uri do |f| %>
          <%= f.text_field :original_uri, :placeholder => "eg: http://google.com" %>
          <%= f.submit "Get Short URL" %>
        <% end %>

        <center>
  <h1>Your URLs</h1>
    <table class="table table-hover">
    <tr>
        <th>Original URL</th>
        <th>Shortened URL</th>
        <th>URL Counter</th>
      </tr>
      <% if !@uris.nil? %>
      <% @uris.each do |uri|%>
      <tr>
        <td><%= uri.original_uri %></td>
        <td><a href="/<%=uri.short_uri %>">http://<%=request.host%>:<%=request.port%>/<%=uri.short_uri %></a></td>
        <td><%= uri.click_count %></td>
      </tr>
      <% end %>
      <% end %>
      <tr>
    </table>
  </center>

    </center>
  </div>
</div>